.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.options-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button[type="submit"] {
  margin-top: 20px; /* Adjust as needed */
}

/* Style for the password visibility toggle button */
.MuiIconButton-root {
  padding: 10px;
}

/* Style for the greeting message */
h5 {
  margin-bottom: 20px;
}
